html {
	scroll-behavior: initial !important;
}

body {
	font-family: var(--body-font);
	background-color: var(--after);
	color: rgba(var(--n3, 1));
	padding: 0;
	margin: 0;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
}

a, 
p,
button,
span,
label,
li {
	margin: 0;
	font-family: var(--body-font);
	color: rgba(var(--n3), 1);
	transition: var(--transition);
	font-weight: 300;
}

.transition{
	transition: var(--transition);
}

a {
	text-decoration: none;
	outline: none;
	color: rgba(var(--p1), 1);
	&:focus, &:hover {
		text-decoration: none;
		outline: none;
		color: rgba(var(--p1), 1);
	}
}

h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a,
.display-one, .display-two, .display-three, .display-four, .display-five, .display-six, .display-ex-one, .heading{
	font-family: var(--body-font);
	color: rgba(var(--n3), 1);
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 120%;
	display: block;
	transition: var(--transition);
	span{
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
}
img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		font-size: inherit;
		font-weight: inherit;
	}
}

button {
	border: none;
	cursor: pointer;
	padding: 0;
	background-color: transparent;
}

input,
textarea {
	padding: 12px 20px;
	color: rgba(var(--n3), 1);
	width: 100%;
	font-family: var(--body-font);
	outline-color: transparent;
	font-size: 16px;
	background-color: rgba(var(--n6), 1);
	border: 1px solid rgba(var(--n8), 0.15);
	border-radius: 12px;
	box-shadow: var(--box-shadow-p1);
	&::placeholder {
		color: rgba(var(--n3), 0.4);
		font-size: 16px;
	}
	&:focus{
		outline: 1px solid rgba(var(--p1), 1);
		box-shadow: none;
		border: 1px solid transparent;
	}
}

// input custom 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	width: initial;
	height: initial;
}

// select custom 
select {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
}
.max-auto{
	max-width: 100%;
}
.max-un {
	max-width: unset;
}

.d-rtl {
	direction: rtl;
}

.collapsing {
	transition: var(--transition);
}

// color with class
.alt-color{
	a, p, span, h1, h2, h3, h4, h5, h6, i, select, button{
		color: rgba(var(--n4), 1);
	}
}
.p1-color{
	color: rgba(var(--p1), 1);
}
.s1-color{
	color: rgba(var(--s1), 1);
}
.s2-color{
	color: rgba(var(--s2), 1);
}
.s3-color{
	color: rgba(var(--s3), 1);
}
.s4-color{
	color: rgba(var(--s4), 1);
}
.n1-color{
	color: rgba(var(--n1), 1);
}
.n2-color{
	color: rgba(var(--n2), 1);
}
.n3-color{
	color: rgba(var(--n3), 1);
}
.n4-color{
	color: rgba(var(--n4), 1);
}
.n5-color{
	color: rgba(var(--n5), 1);
}
.n6-color{
	color: rgba(var(--n6), 1);
}
.n7-color{
	color: rgba(var(--n7), 1);
}
.n8-color{
	color: rgba(var(--n8), 1);
}
.n9-color{
	color: rgba(var(--n9), 1);
}
.before-color{
	color: rgba(var(--before), 1);
}
.after-color{
	color: rgba(var(--after), 1);
}

.p1-bg-color{
	background-color: rgba(var(--p1), 1);
}
.s1-bg-color{
	background-color: rgba(var(--s1), 1);
}
.s2-bg-color{
	background-color: rgba(var(--s2), 1);
}
.s3-bg-color{
	background-color: rgba(var(--s3), 1);
}
.s4-bg-color{
	background-color: rgba(var(--s4), 1);
}
.n1-bg-color{
	background-color: rgba(var(--n1), 1);
}
.n2-bg-color{
	background-color: rgba(var(--n2), 1);
}
.n3-bg-color{
	background-color: rgba(var(--n3), 1);
}
.n4-bg-color{
	background-color: rgba(var(--n4), 1);
}
.n5-bg-color{
	background-color: rgba(var(--n5), 1);
}
.n6-bg-color{
	background-color: rgba(var(--n6), 1);
}
.n7-bg-color{
	background-color: rgba(var(--n7), 1);
}
.n8-bg-color{
	background-color: rgba(var(--n8), 1);
}
.n9-bg-color{
	background-color: rgba(var(--n9), 1);
}
.before-bg-color{
	background-color: rgba(var(--before), 1);
}
.after-bg-color{
	background-color: rgba(var(--after), 1);
}

.border-color{
	border: 1px solid rgb(var(--n5));
}

.fw-mid{
	font-weight: 500;
}

.fw-exThin{
	font-weight: 200;
}

.text-gradient{
	background: var(--gradient-p1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.max-ch{
	max-width: 60ch;
}

.box-shadow-p1{
	box-shadow: var(--box-shadow-p1);
}


// cmn-btn
.cmn-btn {
	.icon-btn{
		border-radius: 50%;
		@include box(55);
		&::before{
			content: '';
			position: absolute;
			border: 2px solid rgba(var(--n2), 1);
			border-radius: 50%;
			transition: var(--transition);
			@include box(40);
		}
		&::after{
			content: "";
			position: absolute;
			left: 4px;
			width: 8px;
			height: 100%;
			transition: var(--transition);
			background: rgba(var(--n7), 1);
		}
	}
	i{
		&::after{
			content: "";
			position: absolute;
			right: 20px;
			width: 60px;
			height: 2px;
			transition: var(--transition);
			background: rgba(var(--n2), 1);
			z-index: 1;
			@include maxQuery(1399){
				height: 2px;
				width: 40px;
			}
		}
	}
	span{
		margin-left: -16px;
	}
	&:hover{
		span{
			margin-left: 16px;
		}
		.icon-btn{
			&::after{
				width: 0;
			}
			&::before{
				border-color: rgba(var(--p1), 1);
			}
		}
		i{
			color: rgba(var(--p1), 1);
			&::after{
				width: 0;
			}
		}
	}
	&.second{
		.icon-btn{
			&::after{
				background: #FEF8E6;
			}
		}
	}
	&.third{
		.icon-btn{
			&::after{
				background: #FCE8EF;
			}
		}
	}
	&.fourth{
		.icon-btn{
			&::after{
				background: #E8F6ED;
			}
		}
	}
	&.fifth{
		.icon-btn{
			&::after{
				background: #E8F4FD;
			}
		}
	}
}


// text hover style 
.slide-vertical,
.slide-horizontal {
    .char {
        overflow: hidden;
        color: transparent;
        &::after, &::before{
            visibility: visible;
            color: rgba(var(--n6), 1);
            transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
            transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
        }
        &::before{
            color: rgba(var(--n6), 1);
            transition-delay: calc( 0.02s * ( var(--char-index)) );
        }
    }
    &:hover {
        .char{
            &:before {
                transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
				color: rgba(var(--n6), 1);
            }
            &:after {
                transition-delay: calc( 0.02s * ( var(--char-index)) );
            }
        }
    }
}
.slide-vertical {
    .char{
        &:before {
            transform: translateY(-100%);
        }
    }
    &:hover {
        .char{
            &:before {
                transform: translateY(0%);
            }
            &::after {
                transform: translateY(100%);
            }
        }
    }
}
.slide-horizontal {
    .char{
        &:before {
            transform: translateX(110%);
        }
    }
    &:hover {
        .char{
            &:before {
                transform: translateX(0%);
            }
            &::after {
                transform: translateX(-110%);
            }
        }
    }
}
.splitting span{
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

// move-btn
.move-btn{
	&.fill{
		span{
			background-color: rgba(var(--n6), 1);
		}
	}
	&:hover{
		span{
			background-color: rgba(var(--before), 1);
			color: rgba(var(--n6), 1);
			border: 1px solid rgba(var(--before), 1) !important;
			i{
				color: rgba(var(--n6), 1);
			}
		}
	}
	.two{
		@include box(45);
		@include maxQuery(991){
			@include box(40);
		}
	}
	&.second{
		&:hover{
			span{
				background-color: rgba(var(--before), 1);
				color: rgba(var(--n6), 1);
				border: 1px solid rgba(var(--before), 1) !important;
				i{
					color: rgba(var(--n6), 1);
				}
			}
		}
	}
	&.talk i{
		transform: rotate(-45deg);
	}
	&.third {
		span{
			@include box(60);
			@include maxQuery(991){
				@include box(50);
			}
		}
		&:hover{
			span{
				background-color: rgba(var(--p1), 1);
				border: 1px solid rgba(var(--p1), 1) !important;
			}
		}
		&.alt-second {
			&:hover{
				span{
					background-color: rgba(var(--s4), 1);
					border: 1px solid rgba(var(--s4), 1) !important;
				}
			}
		}
		&.alt-third {
			&:hover{
				span{
					background-color: rgba(var(--s2), 1);
					border: 1px solid rgba(var(--s2), 1) !important;
				}
			}
		}
		&.alt-fourth {
			&:hover{
				span{
					background-color: rgba(var(--s1), 1);
					border: 1px solid rgba(var(--s1), 1) !important;
				}
			}
		}
	}
}

// File Upload Custom
.file-upload{
    border-radius: 48px;
    border: 1px solid rgba(var(--p1), 1);
	input{
		display: none;
	}
	.file {
		cursor: pointer;
		position: relative;
		.file-custom {
			border-radius: 20px;
		}
	}
	.add-file{
        color: rgba(var(--p1), 1);
	}
}

// btn-popup-animation
.btn-popup-animation{
	z-index: 1;
	transition: var(--transition);
	i{
		z-index: 1;
		color: rgba(var(--n1), 1);
	}
	&:before, &::after{
		content: "";
		position: absolute;
		z-index: -1;
		background-color: rgba(var(--s1), 1);
		border-radius: 50%;
		@include box(80);
		@include maxQuery(576){
			@include box(60);
		}
	}
	&:before{
		z-index: 1;
	}
	&:after{
		background-color: transparent;
		border: 2px solid rgba(var(--s1), 1);
		z-index: -1;
		animation: waves 2s 1s ease-out infinite;
	}
	@include maxQuery(576){
		@include box(60);
		i{
			color: rgba(var(--p1), 1);
		}
	}
	&.second-popup{
		i{
			color: rgba(var(--n4), 1);
		}
		&:before, &::after{
			background-color: rgba(var(--p1), 1);
			@include box(60);
		}
	}
}

// Circle Text
.circle-text{
	@include box(160);
	border-radius: 50%;
	background-color: rgba(var(--s1), 1);
	border: 1px solid rgba(var(--p1), 1);
	position: relative;
	@include maxQuery(991){
		@include box(125);
	}
	.text{
		animation: rotate 50s linear infinite;
		width: 100%;
		height: 100%;
		position: absolute;
		p{
			transform: translate(50%, 5px);
		}
		span{
			position: absolute;
			font-size: inherit;
			font-weight: 600;
			transform-origin: 0 72px;
		}
		@include maxQuery(991){
			p{
				transform: translate(50%, 0);
			}
			span{
				transform-origin: 0 60px;
			}
		}
	}
	&:hover{
		.text{
			animation-play-state: paused;
		}
	}
}

// circle box hover
.box-style {
    position: relative;
    overflow: hidden;
	z-index: 0;
	text-align: center;
    &:hover {
        &::before {
            width: 400%;
            height: 400%;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 100%;
        background-color: rgba(var(--n1), 0.1);
        transition: all 0.7s ease;
        z-index: -1;
    }
	&.first-box{
		&::before {
			background-color: rgba(var(--p1), 1);
		}
	}
	&.box-second{
		background-color: rgba(var(--p1), 1);
		padding: 12px 24px;
		gap: 5px;
		color: rgba(var(--n6), 1);
		span{
			color: inherit;
		}
		i{
			transition: var(--transition);
		}
		&:hover {
			i{
				transform: rotateY(180deg);
			}
		}
		&::before {
			background-color: rgba(var(--s3), 1);
		}
		&.first-alt{
			background-color: rgba(var(--n6), 1);
			border: 1px solid rgba(var(--n8), 0.1);
			padding: 8px 16px;
			i{
				transform: rotateY(0deg);
			}
			span, i{
				color: rgba(var(--n1), 1);
			}
			&:hover {
				span, i{
					color: rgba(var(--n6), 1);
				}
			}
			&::before {
				background-color: rgba(var(--p1), 1);
			}
		}
	}
	&.box-third{
		background-color: transparent;
		@include box(40);
		border-radius: 50%;
		border: 1px solid rgba(var(--n1), 1);
		&::before {
			background-color: rgba(var(--s2), 1);
		}
		&:hover {
			border-color: transparent;
			i{
				transform: rotateY(180deg);
			}
			i, span{
				color: rgba(var(--n6), 1);
			}
		}
		span, i{
			color: rgba(var(--n1), 1);
			transition: var(--transition);
		}
	}
}

// vertical border 
.v-border{
	background: rgba(var(--p1), 0.2);
    width: 1px;
    height: 25px;
}

// vertical line
.v-line{
    &::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 96px;
        background-color: rgba(var(--n5), 1);
    }
    &.f-width{
		&::before{
			position: absolute;
			content: '';
			width: 16px;
			height: 1px;
			background-color: rgba(var(--n1), 1);
		}
    }
    &.full-width{
		&::before{
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-color: rgba(var(--n8), 0.5);
		}
    }
}

.last-child-none {
	.v-line:last-child {
		display: none;
	}
}

// vertical border 
.cus-border{
	border-color: rgba(var(--p1), 1) !important;
	&.b-second{
		border-color: rgba(var(--s3), 1) !important;
	}
	&.b-third{
		border-color: rgba(var(--s2), 1) !important;
	}
	&.b-fourth{
		border-color: rgba(var(--s1), 1) !important;
	}
	&.b-fifth{
		border-color: rgba(var(--n8), 0.4) !important;
	}
	&.b-sixth{
		border-color: rgba(var(--s4), 1) !important;
	}
	&.b-seventh{
		border-color: rgba(var(--n8), 1) !important;
	}
	&.b-eighth{
		border-color: rgba(var(--n5), 1) !important;
	}
	&.b-ninth{
		border-color: rgba(var(--n7), 1) !important;
	}
	&.b-tenth{
		border-color: rgba(var(--n8), 0.2) !important;
	}
}

// dotted border
.border-bottom-dash{ 
    border-bottom: 1px dashed transparent ;
}

// ul custom
.ul-dots{
	li{
		list-style: disc;
	}
}
.ul-decimal{
	li{
		list-style: decimal;
	}
}

// counter Area 
.counter-area{
	.odometer span{
		color: rgba(var(--n1), 1);
	}
}

// cmn-header 
.cmn-header{
	background-color: rgba(var(--s1), 0.2);
}

// Social Area 
.social-area{
	a{
		border: 1px solid rgba(var(--p1), 0.1);
		border-radius: 50%;
		background: rgba(var(--after), 1);
		transition: var(--transition);
		@include box(48);
		@include maxQuery(991){
            @include box(38);
        }
		i{
			transition: var(--transition);
			color: rgba(var(--n6), 1);
		}
		&:hover{
			background: rgba(var(--before), 1);
			i{
				color: rgba(var(--n6), 1);
			}
		}
	}
	&.alt{
		a{
			border-color: rgba(var(--p1), 1);
			background: transparent;
			&:hover{
				background-color: rgba(var(--p1), 1);
			}
		}
	}
	&.s-alt{
		a{
			background: rgba(var(--n4), 1);
			i{
				color: rgba(var(--n1), 1);
			}
			&:hover{
				background-color: rgba(var(--s1), 1);
			}
		}
	}
}
.social-items{
	a{
		i, span{
			transition: var(--transition);
		}
		&:hover{
			i, span{
				color: rgba(var(--p1), 1);
			}
		}
	}
}

// image-box-effect
.image-box-effect {
    &:hover{
        img{
            &:nth-child(1) {
                transform: translateX(0) scaleX(1);
                opacity: 1;
                filter: blur(0);
            }
            &:nth-child(2) {
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                filter: blur(12px);
            }
        }
    }
    img{
        &:nth-child(1) {
            transform: translateX(50%) scaleX(2);
            opacity: 0;
            filter: blur(12px);
        }
    }
    .img {
        position: absolute;
        transition: 0.9s;
    }
}

// Mouse Follower
.mouse-follower{
	z-index: 10;
	span{
		z-index: 10;
		opacity: 1;
		top: -10px;
		left: -10px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		position: fixed;
		transition: 100ms ease-in-out;
		pointer-events: none;
	}
	.cursor-outline{
		height: 30px;
		width: 30px;
		border: 1px solid rgba(var(--n1), 1);
	}
	.cursor-dot {
		height: 6px;
		width: 6px;
		background: rgba(var(--n1), 1);
		transition: var(--transition);
	}
	&.hide-cursor{
		span{
			border-color: transparent;
			background: transparent;
		}
	}
	&.highlight-cursor-head{
		cursor: none;
		.cursor-outline{
			height: 0;
			width: 0;
		}
		.cursor-dot {
			height: 150px;
			width: 150px;
			background: rgba(var(--n6), 1);
			mix-blend-mode: difference;
			@media (max-width: 991px) {
				height: 80px;
				width: 80px;
			}
		}
	}
	@include maxQuery(991){
		display: none;
	}
}

.highlight-cursor-head, .-para{
	cursor: none;
}

.table thead th,
.table td,
.table th {
	border: none;
}

.ovf-unset {
	overflow-x: unset !important;
}

iframe {
	border: 0;
	width: 100%;
}

// Custom Dropdown 
::-webkit-scrollbar-track {
	background: rgba(var(--n5), 1);
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background: rgba(var(--before), 1);
}
.cus-scrollbar{
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    max-height: 90vh;
    top: 100px;
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb{
		background-color: rgba(var(--n6), 1);
		height: 10px;
		overflow: visible;
	}

	&:hover{
		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(255, 211, 198, 0.5);
		}
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-thumb {
			background: rgba(var(--p1), 1);
		}
	}
}

.d-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cus-z0 {
	z-index: 0;
}

.cus-z1 {
	z-index: 1;
}

.cus-z2 {
	z-index: 2;
}

.cus-z-1 {
	z-index: -1;
}

.top-sticky{
	top: 100px;
}

// Scroll To Top 
.scrollToTop {
	position: fixed;
	bottom: 0;
	width: 45px;
	height: 45px;
	right: 30px;
	background-color: rgba(var(--p1), 1);
	padding: 0 12px;
	color: rgba(var(--p1), 1);
	line-height: 120%;
	font-size: 12px;
	text-align: center;
	z-index: 9;
	cursor: pointer;
	transition: all 1s;
	transform: translateY(100%);
	&:hover{
		i{
			margin: 0;
		}
	}
	i{
		transition: var(--transition);
		margin-bottom: -25px;
	}
	&.active {
		bottom: 30px;
		transform: translateY(0%);
	}
}

#preloader {
	background-color: rgba(var(--p1), 1);
	overflow: hidden;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100vh;
	z-index: 99999;
	#loader {
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: rgba(var(--s1), 1);
		-webkit-animation: preload 2s linear infinite;
		animation: preload 2s linear infinite;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: rgba(var(--s2), 1);
			-webkit-animation: preload 3s linear infinite;
			animation: preload 3s linear infinite;
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: rgba(var(--s4), 1);
			-webkit-animation: preload 1.5s linear infinite;
			animation: preload 1.5s linear infinite;
		}
	}
}
@keyframes preload {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Custom Tabs
.singleTab{
	.nav-links{
		cursor: pointer;
		@include box(40);
		border-radius: 50%;
		i{
			color: rgba(var(--n6), 1);
		}
		&.active{
			background-color: rgba(var(--n6), 1);
			i{
				color: rgba(var(--n3), 1);
			}
		}
	}
	.tabContents {
		position: relative;
		.tabItem {
			transform: translateY(100px);
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			opacity: 0;
			transition: 3s all;
			&.active {
				position: initial;
				z-index: 1;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

// progress bar
.progress{
	height: 5px;
	background: rgba(var(--s1), 0.3);
	&.second{
		background: rgba(var(--p1), 0.3);
	}
	&.third{
		background: rgba(var(--s2), 0.3);
	}
	&.fourth{
		background: rgba(var(--s4), 0.3);
	}
	.progress-bar{
		width: 0%;
	}
}

// Pagination
.pagination{
	li a{
		color: rgba(var(--n2), 1);
	}
	.page-item{
		.page-link{
			outline: none;
			bottom: 0;
			padding: 0;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border: none;
			background-color: transparent;
			z-index: 999;
			&:hover, &.active, &:focus{
				color: rgba(var(--p1), 1);
				border-color: transparent;
				box-shadow: none;
			}
		}
	}
}

// Single switch
.switch-wrapper {
    .active {
        color: rgba(var(--p1), 1);
    }
    .switch {
        width: 50px;
        height: 26px;
        .slider {
            cursor: pointer;
            border-radius: 34px;
            transition: var(--transition);
            background: rgba(var(--p1), 1);
            &::before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                border-radius: 50%;
                transform: translateX(3px);
                background-color: rgba(var(--p1), 1);
                transition: var(--transition);
            }
        }
        input:checked+.slider {
            &::before {
                transform: translateX(25px);
            }
        }
    }
}

// swiper slider btn
.slide-button {
	outline: none;
	bottom: 0;
	padding: 0;
	left: 0;
	width: 35%;
	height: 100%;
	left: 0;
	@include maxQuery(1399){
		width: 25%;
	}
	@include maxQuery(767){
		position: relative !important;
	}
}
.ara-next{
	left: initial;
	right: 0;
}

// slider pagination
.slider-pagination{
	width: initial;
	span{
		letter-spacing: 10px;
		color: rgba(var(--s1), 1);
	}
}

// Input Area
.input-area {
    background-color: transparent;
    border-bottom: 1px solid rgba(var(--n1), 0.2);
    &:focus-within {
        border-bottom: 1px solid rgba(var(--s1), 1);
    }
    input,
    textarea {
        border-radius: 0;
        padding: 0;
        border: none;
		outline: none;
        background: transparent;
		box-shadow: none;
        &::placeholder {
            color: rgba(var(--n3), 0.4);
            font-weight: 500;
        }
    }
    &.second {
        border-radius: 48px;
        border: 1px solid rgba(var(--n5), 1);
        background-color: rgba(var(--p1), 0.1);
        input {
            font-size: 16px;
        }
		&:focus-within {
			border: 1px solid rgba(var(--s2), 1) !important;
		}
		button{
			@include box(40);
			@include maxQuery(767){
				@include box(28);
			}
		}
    }
}

// Animation Start 
@keyframes marqueeRtL {
	0% { 
		right: 0; 
	}
	100% { 
		right: -40%; 
	}
}
@keyframes marquee {
	0% { 
		left: 0; 
	}
	100% { 
		left: -100%; 
	}
}

@keyframes run {
    0% {
        left: 0%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 5%;    
    }
}

@keyframes run2 {
    0% {
        top: 0%;
    }
    50% {
        top: 90%;
    }
    100% {
        top: 5%;    
    }
}

@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	  }
	  100% {
		transform: scale(1.6);
		opacity: 0;
	  }
}

@keyframes fadeIn2nd {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes loading {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(180deg);
	  transform: rotate(180deg);
	}
}