// default font family
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// default root
:root {
	--body-font: 'Kanit', sans-serif;
	
	--transition: all 0.5s ease-in-out;

	/* Color styles */
	--p1: 31, 178, 84;
	
	--s1: 255, 193, 7;
	--s2: 233, 30, 99;
	--s3: 228, 38, 22;
	--s4: 33, 150, 243;

	--n1: 29, 29, 29;
	--n2: 0, 0, 0;
	--n3: 10, 9, 13;
	--n4: 43, 43, 43;
	--n5: 26, 26, 26;
	--n6: 255, 255, 255;
	--n7: 232, 232, 232;
	--n8: 179, 182, 185;
	--n9: 248, 248, 248;

	--box-shadow-p1: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);

	--after: var(--s1);
	--before: var(--s3);

}